# Virtual environment
venv/
*.venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Database file
*.db
*.sqlite3

# Log files
*.log

# OS / Editor specific
.DS_Store
.idea/
.vscode/

# Webdriver manager cache
.wdm/

# Chromedriver executables
chromedriver*
