# .env.example
# 프로젝트 설정을 위한 환경 변수 파일
# 이 파일의 이름을 .env로 변경하고 실제 환경에 맞게 값을 수정하여 사용하세요.

# 데이터베이스 설정
DB_PATH=/Users/jungwoohan/Documents/03.lgcns/20260103_shinhansec_ns/01.rag/db/rag.db

# 벡터 저장소 설정 ("elasticsearch" 또는 "sqlite")
VECTOR_STORE=sqlite

# Elasticsearch 설정
ES_HOST=localhost
ES_PORT=9200
ES_INDEX_NAME=rag_documents

# Text splitting
CHUNK_SIZE=500
CHUNK_OVERLAP=50

# 임베딩 모델 설정
# SentenceTransformer 라이브러리에서 사용할 모델 이름을 지정합니다.
# 한국어 모델 예시: "jhgan/ko-sbert-nli"
# 다른 모델을 사용하려면 해당 모델의 이름을 여기에 입력하세요.
EMBEDDING_MODEL="sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2"

# 임베딩 모델을 로컬에 저장할 경로를 지정합니다. 기본값은 'models'입니다.
EMBEDDING_MODEL_SAVE_PATH=models

# Log settings
LOG_FILE_PATH=/Users/jungwoohan/Documents/03.lgcns/20260103_shinhansec_ns/01.rag/logs/ingestor.log
LOG_LEVEL=INFO
